<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <title>User Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    </head>
    <style>
    body{
        background-color: #F5F5F5;
        padding:20px 20px;
    }
    label {
        font-size: 120%;
    }
    input {
        border:1px solid #F5F5F5; 
        background-color: #F5F5F5;
        color: #212121;
        vertical-align:middle; 
        text-align: center;
    }
    input {star : expression( 
        onmouseover=function(){this.style.borderColor="#060"}, 
        onmouseout=function(){this.style.borderColor="#c00"})   
    }  
    .p {
            margin: 10px;
    }

    .pt {
        padding-top: 20px
    }
    </style>
 
    <body>
        <div class = "p">
        <div class="container">
            <div class="row">
                <div class="span6">
                    
                    <div class="controls controls-row pt">         
                    <label class = "col-xs-2" for="model ">Model:</label>
          			<input class = "col-xs-3 pull-left" type="text" data-value="${car.title}" />
          			</div>
                    <br/>
          			<div class="controls controls-row pt">     
                    <label class = "col-xs-2" for="Type">Type:</label>
                        <input class = "col-xs-3 pull-left" type="text" data="${car.workType}" />
                    </div>
                    <br/>

                    <div class="controls controls-row pt">     
                    <label class = "col-xs-2" for="dealer">Dealer:</label>
                        <input class = "col-xs-3 pull-left" type="text" data-value="${car.Dealer}" />
                    </div>
                    <br/>

                    <div class="controls controls-row pt">     
                    <label class = "col-xs-2" for="email">Email:</label>
                        <input class = "col-xs-3 pull-left" type="email" data-text="${car.Email}" />
                    </div>
                    <br/>

                     <div class="controls controls-row pt">
                    	<label class = "col-xs-2" for="describe">Describe:</label>
                    	
                    </div>
                    
                    <div class="controls controls-row " style= "margin-top:30px; margin-left: 80px">
                        <div class="form-inline">
                            <div class="col-xs-1"></div>
                            <div class = "col-xs-11 pull-left">
                                <textarea id="message"  class="span6" rows="8" cols="45" data-th-text="${car.describe}"></textarea>
                            </div>
                        </div>
                    </div>
            
        
                </div>
            </div>
        </div>
    </div>
        <hr />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>