<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <title>User Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    </head>
    <style>
    body{
        background-color: #E0E0E0;
        padding:20px 20px;
    }
    .p {
            margin: 10px;
    }
    .pt {
        padding-top: 10px
    }
    </style>
 
    <body>
        <div class = "p">
        <div class="container">
            <div class="row">
                <div class="span6">
                    
                    <div class="controls controls-row pt">         
                    <label class = "col-xs-1" for="model ">Car Model:</label>
          
          			<div data-text="${car.title}">

          			</div>
          			</div>
          			<div class="controls controls-row pt">     
                    <label class = "col-xs-1" for="Type">Car Type:</label>
                       <div data-text="${car.workoutType}">

          			</div>
                    </div>

                    <div class="controls controls-row pt">     
                    <label  class = "col-xs-1" for="Type">Dealer Name</label>
                       <div data-text="${car.name}">

          			</div>
                    </div>

                    <div class="controls controls-row pt">     
                    <label class = "col-xs-1" for="Type">Email:</label>
                       <div data-text="${car.email}">
          			</div>
                    </div>

                         <div class="controls controls-row pt">
                        	<div class = "Mleft">
                        	<label for="Describe">Describe:</label>
                        	</div>
                        </div>
                        
                        <div class="controls controls-row">
                            <div class="form-inline">
                                <div class="col-xs-1"></div>
                                <div class = "col-xs-11 pull-left">
                                    <textarea id="message"  class="span6" rows="7" cols="55" data-th-text="${car.describe}"></textarea>
                                </div>
                            </div>
                        </div>
            
        
                </div>
            </div>
        </div>
    </div>
        <hr />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>