<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Count!</h1>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Describe</th>
                </tr>                
                <tr data-th-each="car : ${cars}">
                    <td data-th-text="${car.id}"></td>
                    <td data-th-text="${car.title}"></td>
                    <td data-th-text="${car.workoutType}"></td>
                    <td data-th-text="${car.des}"></td>
                </tr>
            </table>
        </div>
        
        <hr />
        Add Car<br />
        <form data-th-action="@{/cars/add}" name="addCarForm" method="post">
            Model: <input type="text" name="title" /><br />
            Type:<br />
            <input type="radio" name="workoutType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="workoutType" value="MicroCar" /> MicroCar<br />
            <input type="radio" name="workoutType" value="NormalCar" /> NormalCar<br />
            <input type="radio" name="workoutType" value="SportsCar" /> SportsCar<br />
            <input type="radio" name="workoutType" value="Van" /> Van<br />
            <input type="radio" name="workoutType" value="SUV" /> SUV<br />
            <input type="submit" value="Add Workout"/>
        </form>
        
        <hr />       
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>