<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <title>User Home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
        
        
    </head>
    <style>
   
    

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

    .headtry{
        border-left:26px;
        border-right:26px;
        margin:0 auto;
        max-width:928px;
    }
    .jumbotron {
        background-color: #2E2D88;
        color:blue;
    }
    .tab-content {
        border-left: 10px solid #ddd;
        border-right: 10px solid #ddd;
        border-bottom: 10px solid #ddd;
        padding: 10px;
    }
    .nav-tabs {
        margin-bottom:0;
    }
    .wrap{  
        width: 150px; 
        white-space: nowrap; 
        text-overflow: ellipsis;   
        overflow: hidden; 
    }
    
    .table {table-layout:fixed;}
    .table  td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    </style>
 
    <body>
    
    
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!--a class="navbar-brand" href="#"> WebDevmentors</a-->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--a data-th-inline="text" class="navbar-text">[[${customer.username}]]</a-->
              <a class="navbar-brand" data-th-inline="text" href="#">[[${#httpServletRequest.remoteUser}]]</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a data-th-href="@{/cstmCars}">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="sellcars">SellCar</a></li>
                <li><a href="removecar">RemoveCar</a></li>
                <!--li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li-->
              </ul>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <!--input type="text" class="search form-control" placeholder="Search"/-->
                  <input type="text" class="search form-control" id = "search" placeholder="What you looking for?"/>
                  
                </div>
              </form>
              
              <form class="navbar-form navbar-right" data-th-action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-default">Sign Out</button>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        
        
        
        <div class = "table-responsive">
            <table class = "table table-bordered table-striped" id="tableId" value="${cars}">
                <thead>
                    <tr>
                        <th width="5%" class = "text-mid">ID</th>
                        <!--th class ="text-mid" style="display:none;"></th-->
                        <th width="10%" class = "text-mid">Model</th>
                        <th width="8%" class = "text-mid">Type</th>
                        <th class = "text-mid">Describe</th>
                        <th width="15%" class = "text-mid">Connect</th>
                        <th width="8%" class = "text-mid">Dealer</th>
                    </tr>   
                </thead>
                
                <tbody id = "datecar" data-th-each="car: ${cars}">
                    <!--?php
                        while ($row = car) {
                            echo '';
                            
                        }
                    ?-->

                    <!--tr class = "clickable-row" data-value="${car.id}">
                        <td></td>
                        <td id = "eid" data-th-text="${car.id}"  style="display:none;"></td>
                        <td data-th-text="${car.title}"></td>
                        <td data-th-text="${car.workoutType}"></td>
                        <td data-th-text="${car.describe}"></td>
                        <td data-th-text="${car.Email}"></td>
                        <td data-th-text="${car.Dealer}"></td>
                    </tr-->
                </tbody>
            </table>
          </div>
        <hr />   
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
      
        <script>
        
        
//            function parseJSON(data) {
//                    return  window.JSON.parse( data );
//            }
    //      var data = eval(document.getElementById('datecar')).value;
          
            var search = {
                          "id" : 1,
                          "title" :"Title",
                          "workoutType" :"Ven",
                          "describe" :"dasjkdhakf",
                          "Email" :"email@",
                          "Dealer" :"dealer"
                       };
                       
                       
//           var listForJavascript = [];
//            <c:forEach items="${cars}" var="listItem">
//              var arr = [];
//            
//              arr.push("<c:out value="${listItem.param1}" />");
//              arr.push("<c:out value="${listItem.param2}" />");
//            
//              listForJavascript.push(arr);
//            </c:forEach>            
           $(document).ready(function() {
//               var carValue =  $('#tableId');
                document.write("1:" + document.getElementById("tableId").value);
               var car = $('#person').val();
                $.ajax({
                    url : "cstmCars",
                    type : "GET",
//                    Model : "POST",
//                    dataType: "text",
                    contentType: "json",
                    data: JSON.stringify(car),
            		success : function(data) {
            		    alert(2+ car);
            		    alert(data);
            		    $('#tableId').DataTable({
            		     
            			columns : [
            			    {"data" : "id"},
            			    {"data" : "title"},
            			    {"data" : "workoutType"},
            			    {data : 'describe'},
            			    {'data' : 'Email'},
            			    {'data' : 'Dealer'}
            			     ]
        			     });
            	       },
            	    error: function(XMLHttpRequest, textStatus, errorThrown) {  //#3这个error函数调试时非常有用，如果解析不正确，将会弹出错误框
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        alert(textStatus); // paser error;
                    },
            	  });
            	   alert(3+ car);
              });
              
        </script>
        
        
        <script>/*eslint-env jquery, jquery*/
                $('select[name=workoutType]').selectpicker();
                $('select[name=workoutType]').val(1);
                $('.selectpicker').selectpicker('refresh');
        </script>
        
        <script>
            var addSerialNumber = function () {
            var i = 1;
                $('table tr').each(function(index) {
                    $(this).find('td:nth-child(1)').html(index+0);
                });
            };
            addSerialNumber();
        </script>
        
        <script>
           var $rows = $('#tableId tbody tr');
                $('#search').keyup(function() {
                    
                    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
                        reg = RegExp(val, 'i'),
                        text;
                    
                    $rows.show().filter(function() {
                        text = $(this).text().replace(/\s+/g, ' ');
                        return !reg.test(text);
                    }).hide();
                });
        </script>
        <script>
             jQuery(document).ready(function($) {
            $(document).on('click', '#tableId tbody tr', function (e) {
                e.stopPropagation();
                var $this = $(this);
                var trid = $this.closest('tr').find("#eid").text();
                var x = screen.width/2 - 700/2;
                var y = screen.height/2 - 450/2;
                window.open("https://car-sells.herokuapp.com" + "/carInfo/" + trid, 'carInfo','height=485,width=700,left='+x+',top='+y);
            }); 
            });
        </script>
        
    </body>
</html>