<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <title>User Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
        
    </head>
    <style>

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

    .headtry{
        border-left:26px;
        border-right:26px;
        margin:0 auto;
        max-width:928px;
    }
    .jumbotron {
        background-color: #2E2D88;
        color:blue;
    }
    .tab-content {
        border-left: 10px solid #ddd;
        border-right: 10px solid #ddd;
        border-bottom: 10px solid #ddd;
        padding: 10px;
    }
    .nav-tabs {
        margin-bottom:0;
    }
    .wrap{  
        width: 150px; 
        white-space: nowrap; 
        text-overflow: ellipsis;   
        overflow: hidden; 
    }
    .table {table-layout:fixed;}
    .table  td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    </style>
 
    <body>
    
        <!--head>
        <div class = "page-header np-padding no margin"> 
         <div class = "headtry">
         <img src = "https://twistedsifter.files.wordpress.com/2013/03/bixby-bridge-highway-1-big-sur-california.jpg" class="image-responsive"></img>
         </div>
         </div>
        </head-->
    
        <!--h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Count!</h1-->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!--a class="navbar-brand" href="#"> WebDevmentors</a-->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--a data-th-inline="text" class="navbar-text">[[${customer.username}]]</a-->
              <a class="navbar-brand" data-th-inline="text" href="#">[[${#httpServletRequest.remoteUser}]]</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a data-th-href="@{/cstmCars}">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="sellcars">SellCar</a></li>
                <li><a href="removecar">RemoveCar</a></li>
                <!--li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li-->
              </ul>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <!--input type="text" class="search form-control" placeholder="Search"/-->
                  <input type="text" class="search form-control" id = "search" placeholder="What you looking for?"/>
                  
                </div>
              </form>
              
              <form class="navbar-form navbar-right" data-th-action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-default">Sign Out</button>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div>
            <table class = "table table-bordered table-striped table-hover" id = "table">
                <thead>
                <tr>
                    <th width="5%" class = "text-mid">ID</th>
                    <th width="10%" class = "text-mid">Model</th>
                    <th width="8%" class = "text-mid">Type</th>
                    <th class = "text-mid">Describe</th>
                    <th width="15%" class = "text-mid">Connect</th>
                    <th width="8%" class = "text-mid">Dealer</th>
                </tr>   
                </thead>
                
                <tbody data-th-each="car : ${cars}">
                <!-- @{/blogs/edit/{id}(id=${blog.id})} @{{/carInfo/} + ${car.title}}-->
                <tr id = "tableId" class="clickable-row"  data-th-value="${car.id}" data-href= "carInfo/${car.id}">
                    <td></td>
                    <td id = "eid"  value = "${car.id}" style="display:none;" data-th-text="${car.id}"></td>
                    <td data-th-text="${car.title}"></td>
                    <td data-th-text="${car.workoutType}"></td>
                    <td data-th-text="${car.describe}"></td>
                    <td data-th-text="${car.Email}"></td>
                    <td data-th-text="${car.Dealer}"></td>
                </tr>
             
                </tbody>
            </table>
          </div>
        <hr />
        <!--div class="container">
        	<div class="row">
        		<div class="span6">
                    <form data-th-action="@{/cars/add}" name="addCarForm" method="post">
                        <div class="controls controls-row">
                            <input id="name" name="title" type="text"  class="span3" placeholder="Car Model"/> 
                            <select name="workoutType" class="selectpicker">
                              <option data-hidden="true">Select Car Type</option>
                              <option value="Unknown">Unknown</option>
                              <option value="MicroCar">MicroCar</option>
                              <option value="NormalCar">NormalCar</option>
                              <option value="SportsCar">SportsCar</option>
                              <option value="Van">Van</option>
                              <option value="SUV">SUV</option>
                            </select>
                        </div>
                        <div class="controls">
                            <textarea id="message" name="describe" class="span6" placeholder="Describe your car" rows="5"></textarea>
                        </div>
                          
                        <div class="controls">
                            <button id="contact-submit" type="submit" value="Add Car" class="btn btn-primary input-medium pull-down">Send</button>
                        </div>
                    </form>
                </div>
        	</div>
        </div>
        Remove Car<br />
        <form data-th-action="@{/cars/delet}" name="deletCarForm" method="post">
            <input type="number" name="id" class="form-control" placeholder="ID"/>
            <input id="contact-submit" type="submit" value="delet" class="btn btn-primary"></input>
        </form-->
        
        
        <!--form data-th-action="@{/cars/add}" name="addCarForm" method="post">
          <div class="form-group">
            <label for="carModel">Car Model</label>
            <input type="text" class="form-control" name="title" id="carModel" placeholder="Car Model"/>
          </div>
          <div class="form-group">
            Type:<br />
            <input type="radio" name="workoutType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="workoutType" value="MicroCar" /> MicroCar<br />
            <input type="radio" name="workoutType" value="NormalCar" /> NormalCar<br />
            <input type="radio" name="workoutType" value="SportsCar" /> SportsCar<br />
            <input type="radio" name="workoutType" value="Van" /> Van<br />
            <input type="radio" name="workoutType" value="SUV" /> SUV<br />
            <input type="submit" value="Add Workout"/>
          </div>
            Describe:<br />
            <textarea class="form-control" rows="3" name="describe" placeholder="Describe your car"></textarea>
            
          <button type="submit" class="btn btn-default"  >Submit</button>
        </form-->
        <!--form data-th-action="@{/cars/add}" name="addCarForm" method="post">
            Model: <input type="text" name="title" /><br />
            Type:<br />
            <input type="radio" name="workoutType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="workoutType" value="MicroCar" /> MicroCar<br />
            <input type="radio" name="workoutType" value="NormalCar" /> NormalCar<br />
            <input type="radio" name="workoutType" value="SportsCar" /> SportsCar<br />
            <input type="radio" name="workoutType" value="Van" /> Van<br />
            <input type="radio" name="workoutType" value="SUV" /> SUV<br />
            <input type="submit" value="Add Workout"/>
        </form-->
        
        
        
        
        <hr />       
        <!-- form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form-->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>/*eslint-env jquery, jquery*/
                $('select[name=workoutType]').selectpicker();
                $('select[name=workoutType]').val(1);
                $('.selectpicker').selectpicker('refresh');
        </script>
        
        <script>
            var addSerialNumber = function () {
            var i = 1;
                $('table tr').each(function(index) {
                    $(this).find('td:nth-child(1)').html(index+0);
                });
            };
            addSerialNumber();
        </script>
        
        <script>
           var $rows = $('#table tbody tr');
                $('#search').keyup(function() {
                    
                    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
                        reg = RegExp(val, 'i'),
                        text;
                    
                    $rows.show().filter(function() {
                        text = $(this).text().replace(/\s+/g, ' ');
                        return !reg.test(text);
                    }).hide();
                });
        </script>
        <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                var x = document.getElementById("tableId").value;
                var i = document.getElementById('eid').innerHTML;
//                alert(i);
                window.open("https://car-sells.herokuapp.com" + "/carInfo/" + i);
            }); 
        });
        </script>
    </body>
</html>