<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <title>Visitor Home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
        
    </head>
    <style>
    .headtry{
        border-left:26px;
        border-right:26px;
        margin:0 auto;
        max-width:928px;
    }
    .jumbotron {
        background-color: #2E2D88;
        color:blue;
    }
    .tab-content {
        border-left: 10px solid #ddd;
        border-right: 10px solid #ddd;
        border-bottom: 10px solid #ddd;
        padding: 10px;
    }
    .nav-tabs {
        margin-bottom:0;
    }
    .sLabel {
        padding-top: 200px
        vertical-align: middle;
        font-family: "Times New Roman", Georgia, Serif;
        font-size:110%;
        width: 160px;
    }
    </style>

    <body>
    
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!--a class="navbar-brand" href="#"> WebDevmentors</a-->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a data-th-inline="text" class="navbar-text" value = "CarPool"></a>
             <!--a data-th-inline="text" class="navbar-text">[[${#httpServletRequest.remoteUser}]]</a-->
              <!-- a class="navbar-brand" data-th-inline="text" href="#">[[${#httpServletRequest.remoteUser}]]</a-->
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a data-th-href="@{/cars}">Home <span class="sr-only">(current)</span></a></li>
                
                
              </ul>
             
              <form class="navbar-form navbar-right" data-th-action="@{/logout}" method="post">
                    <label class = "sLabel">SELL YOUR CARS >> </label>
                    <button type="submit" class="btn btn-default">Sign In</button>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        
        
        <div class = "table-responsive">
            <table class = "table table-bordered table-striped" id="tableId">
                <thead>
                    <tr>
                        <th width="5%" class = "text-mid">#</th>
                        <th width="5%" class = "text-mid">ID</th>
                        <th width="10%" class = "text-mid">Model</th>
                        <th width="8%" class = "text-mid">Type</th>
                        <th class = "text-mid">Description</th>
                        <th width="15%" class = "text-mid">Connect</th>
                        <th width="8%" class = "text-mid">Dealer</th>
                    </tr>   
                </thead>
            </table>
          </div>
        <hr />   
           
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <script>
         
          $(document).ready(function() {
                    $.ajax({
                        url : "getCarData",
                        type : "GET",
                        dataType: "json",
                        contentType: "json",
                		success : function(data) {
//                		     data = "cars=" +JSON.stringify(data);//这个是对的 但是是string
//                		     alert(JSON.stringify(data));
                		    var table = $('#tableId').DataTable({
                		     data : data,
                		     columns: [
                		        { "data": null },
                                { "data": "id" },
                                { "data": "title" },
                                { "data": "workoutType",},
                                { "data": "describe" },
                                { "data": "email" },
                                { "data": "dealer" }
                            ], 
                            "columnDefs": [ {
                                 "targets": 0,
                                "orderable": false,
                                "searchable": false
                                },
                                {
                                "targets": 1,
                                "visible": false,
                                "orderable": false,
                                "searchable": false
                                },
                                {
                                "targets": 4,
                                "orderable": false,
                                "searchable": false
                                },
                                {
                                "targets": 5,
                                "orderable": false
                                } ,
                                {
                                "targets": 6,
                                "orderable": false
                                } ],
                            drawCallback : function() { // 序号列
    
                                    var api = this.api();
                                    
                                    var startIndex = api.context[0]._iDisplayStart; // 获取本页开始的条数
                                    
                                    api.column(0).nodes().each(function(cell, i) {
                                    
                                    cell.innerHTML =  i + 1;
                                    
                                    });
    
                            },
//                            
            			     });
            			     $('#tableId tbody').on( 'click', 'tr', function () {
                                var trid = table.row(this).data();
                                var localId = trid.id;
                                var x = screen.width/2 - 700/2;
                                var y = screen.height/2 - 450/2;
                                window.open("https://car-sells.herokuapp.com" + "/carInfo/" + localId, 'carInfo','height=485,width=700,left='+x+',top='+y);
                    
                            });
                	       },
                	    error: function(XMLHttpRequest, textStatus, errorThrown) {  //#3这个error函数调试时非常有用，如果解析不正确，将会弹出错误框
                            alert(XMLHttpRequest.status);
                            alert(XMLHttpRequest.readyState);
                            alert(textStatus); // paser error;
                            
                        },
                	  });
                	 
                  });

        </script> 
    </body>
</html>