<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <title>User Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    </head>
    <style>
    .Mleft {
        margin-left:30px;
    }
     .p {
        margin-top:40px;
    }
    .headtry{
        border-left:26px;
        border-right:26px;
        margin:0 auto;
        max-width:928px;
    }
    .jumbotron {
        background-color: #2E2D88;
        color:blue;
    }
    .tab-content {
        border-left: 10px solid #ddd;
        border-right: 10px solid #ddd;
        border-bottom: 10px solid #ddd;
        padding: 10px;
    }
    .nav-tabs {
        margin-bottom:0;
    }
    </style>

    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!--a class="navbar-brand" href="#"> WebDevmentors</a-->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--a data-th-inline="text" class="navbar-text">[[${#httpServletRequest.remoteUser}]]</a-->
              <a class="navbar-brand" data-th-inline="text" href="#">[[${#httpServletRequest.remoteUser}]]</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li ><a href="cstmCars">Home </a></li>
                <li class="active"><a href="sellcars">SellCar<span class="sr-only"></span></a></li>
                <li><a href="removecar">RemoveCar</a></li>
                
              </ul>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search" id = "search"/>
                </div>
                
              </form>
              <form class="navbar-form navbar-right" data-th-action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-default">Sign Out</button>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    
    
    <div class = "p">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <form data-th-action="@{/sellcarsadd}" name="addCarForm" method="post">
                        <div class="form-inline col-xs-12">
                              <div class="form-group col-xs-4">
                                <label for="model ">Car Model:</label>
                                <input id="name" name="title" type="text"  class="span3" placeholder="Car Model"/>
                                </div>
                              <div class="form-group col-xs-4">
                                <label for="Type">Car Type:</label>
                                <select  name="workoutType" class="selectpicker">
                                  <option data-hidden="true">Select Car Type</option>
                                  <option value="Unknown">Unknown</option>
                                  <option value="Van">Van</option>
                                  <option value="SUV">SUV</option>
                                  <option value="Coupe">Coupe</option>
                                  <option value="Truck">Truck</option>
                                  <option value="Sedan">Sedan</option>
                                  <option value="Convertible">SportsCar</option>
                                </select>
                              </div>
                        </div>
                         <div class="controls controls-row">
                        	<div class = "Mleft">
                        	<label for="Describe">Describe:</label>
                        	</div>
                        </div>
                        
                        <div class="controls controls-row">
                            <div class="form-inline">
                                <div class="col-xs-1"></div>
                                <div class = "col-xs-11 pull-left">
                                    <textarea id="message" name="describe" class="span6" placeholder="Describe your car" rows="5" cols="75"></textarea>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-md-2 col-md-offset-3" style = "margin-top:20px;">
                            <button id="contact-submit" type="submit" value="" class="btn input-medium pull-down">Sell Now</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

        
        
        <div style = "margin-top:30px;">
        <div>
    	<label for="CarOnSell"> Car on sell:</label>
    	</div>

            <table class = "table table-bordered table-striped table-hover" style = "margin-top:20px;" id = "tableId">
                <thead>
                <tr>
                    <th class = "text-mid">#</th>
                    <th class = "text-mid" style="display:none;"></th>
                    <th class = "text-mid">Model</th>
                    <th class = "text-mid">Type</th>
                    <th class = "text-mid">Description</th>
                </tr>   
                </thead>
                <tbody>
                <tr data-th-each="car : ${customer.cars}" >
                    <td></td>
                    <td id = "eid" data-th-text="${car.id}"  style="display:none;"></td>
                    <td data-th-text="${car.title}"></td>
                    <td data-th-text="${car.workoutType}"></td>
                    <td data-th-text="${car.describe}"></td>
                </tr>
                </tbody>
            </table>
          </div>
        <hr />
        
        <!--Add Car<br />
        <div class="container">
        	<div class="row">
        		<div class="span6">
                    <form data-th-action="@{/sellcarsadd}" name="addCarForm" method="post">
                        <div class="controls controls-row">
                            <input id="name" name="title" type="text"  class="span3" placeholder="Car Model"/> 
                            <select name="workoutType" class="selectpicker">
                              <option data-hidden="true">Select Car Type</option>
                              <option value="Unknown">Unknown</option>
                              <option value="MicroCar">MicroCar</option>
                              <option value="NormalCar">NormalCar</option>
                              <option value="SportsCar">SportsCar</option>
                              <option value="Van">Van</option>
                              <option value="SUV">SUV</option>
                            </select>
                        </div>
                        <div class="controls">
                            <textarea id="message" name="describe" class="span6" placeholder="Describe your car" rows="5"></textarea>
                        </div>
                          
                        <div class="controls">
                            <button id="contact-submit" type="submit" value="" class="btn btn-primary input-medium pull-down">Send</button>
                        </div>
                    </form>
                </div>
        	</div>
        	</div-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>/*eslint-env jquery, jquery*/
                $('select[name=workoutType]').selectpicker();
                $('select[name=workoutType]').val(1);
                $('.selectpicker').selectpicker('refresh');
        </script>
        
        <script>
            var addSerialNumber = function () {
            var i = 1
                $('table tr').each(function(index) {
                    $(this).find('td:nth-child(1)').html(index+0);
                });
                };
            addSerialNumber();
        </script>
         <script>
             jQuery(document).ready(function($) {
                $(document).on('click', '#tableId tbody tr', function (e) {
                    e.stopPropagation();
                    var $this = $(this);
                    var trid = $this.closest('tr').find("#eid").text();
                    var x = screen.width/2 - 700/2;
                    var y = screen.height/2 - 450/2;
                    window.open("https://car-sells.herokuapp.com" + "/carInfo/" + trid, 'carInfo','height=485,width=700,left='+x+',top='+y);
                }); 
            });
        </script>
        <script>
           var $rows = $('#tableId tbody tr');
                $('#search').keyup(function() {
                    
                    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
                        reg = RegExp(val, 'i'),
                        text;
                    
                    $rows.show().filter(function() {
                        text = $(this).text().replace(/\s+/g, ' ');
                        return !reg.test(text);
                    }).hide();
                });
        </script>
    </body>
    </html>