<!DOCTYPE html>
<html>
    <head>
        <title>User sign up</title>
    </head>
    <body> 
    <!-- a class="btn btn-primary" data-th-href="@{/loginin}" role="button">Sign up</a-->
       <!--div data-th-if="${param.error}">
#            Invalid username and password.
#        </div>
#        <div data-th-if="${param.logout}">
#            You have been logged out.
#        </div-->
        <form data-th-href="@{/signupadd}" method="post">
            <div><label> User Name: <input type="text" name="userName"/> </label></div>
            <div><label> Password: <input type="text" name="password"/> </label></div>
            <div><label> Email: <input type="text" name="email"/> </label></div>
            <div><input type="submit" value="Sign up"/></div>
        </form>
    </body>
</html>